<div class="our-rooms">
    <h2>Our Rooms</h2>
    <div class="row">
        <ng-container>
            <div class="col">
                <div class="card" style="width: 25rem;">
                    <img class="card-img-top" src="/assets/standanrd.jpg" alt="imageAlt" >
                    <div class="card-body">
                        <h4 class="card-title">Standard</h4>
                        <ul>
                            <li>2 Adult + 1 Child</li>
                            <li>1 King Size Bed</li>
                            <li>40-in HDTV</li>
                        </ul>
                    </div>
                    <div class="card-footer">
                        <p>$123</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 25rem;">
                    <img class="card-img-top" src="/assets/studio.jpg" alt="imageAlt" >
                    <div class="card-body">
                        <h4 class="card-title">Studio</h4>
                        <ul>
                            <li>All features of Standard</li>
                            <li>Mini Refridgerator</li>
                            <li>Coffee Maker</li>
                            <li>Working Dock</li>
                        </ul>
                    </div>
                    <div class="card-footer">
                        <p>$147</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 25rem;">
                    <img class="card-img-top" src="/assets/suite.jpg" alt="imageAlt" >
                    <div class="card-body">
                        <h4 class="card-title">Suite</h4>
                        <ul>
                            <li>All features of Suite</li>
                            <li>Higher Floors</li>
                            <li>Balcony with Garden</li>
                            <li>Visitor Area</li>
                        </ul>
                    </div>
                    <div class="card-footer">
                        <p>$182</p>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</div>