<div class="book-room">
    <h6>Select Date</h6>
    <div class="row">
        <ng-container>
            <div class="col">
                <a class="select-week" (click)="decreaseWeek()">Prev Week</a>
            </div>
            <div class="col" *ngFor="let d of dates">
                <div class="card" style="width: 7rem;">
                    <div class="card-body">
                        <p> {{ d.getDate() + " " + d.toLocaleString('default', { month: 'short' }) }} </p>
                        <p> {{ d.toLocaleString('en-us', { weekday: 'short' }) }} </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <a class="select-week" (click)="increaseWeek()">Next Week</a>
            </div>
        </ng-container>
    </div>
</div>