<div class="checkout">
    <h6>
        Selected Rooms
    </h6>
    <div class="selectedRooms">
        <div *ngFor="let b of bookingDetails?.bookedRooms; let i = index">
            <button class="btn btn-primary room-btn" style="height: 25px">
                Room {{ b.roomNumber }}
            </button>
            <b style="margin-left: 5px;">Adults :</b>
            <input type="radio" name="adults1{{ i }}" id="a1{{ i }}" style="margin-left: 5px;" value="1"
                (change)="adultsCountChanged($event, b)" checked />
            <label for="a1{{ i }}" class="adults-count">
                <div class="adults">1</div>
            </label>
            <input type="radio" id="a2{{ i }}" name="adults1{{ i }}" style="margin-left: 5px;" value="2"
                (change)="adultsCountChanged($event, b)" />
            <label class="adults-count" for="a2{{ i }}">
                <div class="adults">2</div>
            </label>
            <b style="margin-left: 15px;">Child :</b>
            <input type="radio" name="child1{{ i }}" id="c1{{ i }}" style="margin-left: 5px;" value="1"
                (change)="childCountChanged($event, b)" checked />
            <label for="c1{{ i }}" class="child-count">
                <div class="child">1</div>
            </label>
            <input type="radio" id="c2{{ i }}" name="child1{{ i }}" style="margin-left: 5px;" value="2"
                (change)="childCountChanged($event, b)" />
            <label class="child-count" for="c2{{ i }}">
                <div class="child">2</div>
            </label>
            <span style="margin-left: 50px; border: 1px solid black; background-color: lightblue;">
                $ {{ b.price }}
            </span>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash"
                (click)="removeRooms(b)" viewBox="0 0 16 16">
                <path
                    d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z" />
                <path
                    d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z" />
            </svg>
        </div>
    </div>
    <div class="total">
        <b>Total : $ </b>
        <b> {{ total }}</b>
    </div>
    <h6>Payment</h6>
    <form [formGroup]="form">
        <fieldset [disabled]="this.bookingDetails.bookedRooms.length == 0">
            <div>
                <input required type="text" formControlName="cardNumber" class="form-control card-number"
                    id="cardNumber" placeholder="CardNumber" maxlength="12">
                <div class="error" *ngIf="cardNumber?.touched && cardNumber?.invalid">
                    <div *ngIf="cardNumber?.errors?.['required']">CardNumber is required</div>
                    <div *ngIf="cardNumber?.errors?.['minlength']">CardNumber should minimum of 12 characters</div>
                </div>
            </div>
            <div class="row">
                <div class="col col-cvv">
                    <input required type="text" formControlName="cvv" maxlength="3" class="form-control card-number" id="cvv"
                        placeholder="CVV">
                    <div class="error" *ngIf="cvv?.touched && cvv?.invalid">
                        <div *ngIf="cvv?.errors?.['required']">CVV is required</div>
                        <div *ngIf="cvv?.errors?.['minlength']">CVV is invalid</div>
                    </div>
                </div>
                <div class="col col-expiry">
                    <input style="width: 67%;" required type="text" formControlName="expiry" maxlength="5"
                        class="form-control card-expiry" id="expiry" placeholder="Expiry (mm/yy)">
                    <div class="error" *ngIf="expiry?.touched && expiry?.invalid">
                        <div *ngIf="expiry?.errors?.['required']">Expiry is required</div>
                        <div *ngIf="!expiry?.errors?.['required'] && expiry?.errors?.['shouldValidExpiry']">Expiry should be (mm/yy)</div>
                    </div>
                </div>
            </div>
            <button class="btn btn-primary pay-btn" (click)="paymentForBooking()">Pay and Book Rooms</button>
        </fieldset>
    </form>
</div>